<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<h1><%= @task.name %></h1>

<p><%= @task.done %></p>

<p><%= link_to "all the task", tasks_path %></p>

<p><%= link_to "edit this task", edit_task_path(@task) %></p>

<p><%= link_to "delete this task", task_path(@task), method: :delete %></p>
